{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src" // replace with your app-module-path directory
        ]
      }
    }
  }
}
